body{
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
.display{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(image/top.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
.width{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
h1{
    font-size: 300%;
    text-align: center;
}
h2{
    text-align: center;
}
.span{
    color: crimson;
}
p{
    text-align: justify;
}
.width img{
    width: 80%;
}
.button{
    background-image: linear-gradient(skyblue,orangered);
    padding:10px 30px;
    color: black;
    font-weight: bolder;
    border-radius: 40px;
    text-decoration: none;
}
.mid-banner{
    background-image: url(image/middle.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
.button-2nd{
    margin-left: 70%;
    color: rgb(155, 9, 9);
    font-weight: 700;
}
.fish{
    width: 100%;
    border-radius: 20px;
  
}
.food{
    width: 100%;
    border-radius: 20px;
}
.border{
    box-shadow: 40px 20px 60px grey;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
}
#fish{
    border-left: 3px solid;
    border-image: linear-gradient(blue,black);
    border-image-slice: 2;
}
#nuts{
    border-left: 3px solid;
    border-image: linear-gradient(red,yellow);
    border-image-slice: 2;
}
#olive-oil{
    border-left: 3px solid;
    border-image: linear-gradient(pink,purple);
    border-image-slice: 3;
}
.border-2nd{
    box-shadow: 40px 20px 60px grey;
    margin-left: 7%;
    margin-right: 7%;
    padding: 40px;
    width: 80%;
    border-radius: 20px;
    border: 3px solid goldenrod;
    background-color: rgb(197, 155, 176);
}

.button-3rd{
    text-decoration: none;
    text-align: center;
    color: rgb(25, 10, 235);
    margin-top: 50px;
    font-weight: 600;
    border: 2px solid black;
    width: 60px;
    height: 85px;
    border-radius: 5px;
}
.top img{
    width: 330px;
    height: 350px;
    margin-left: 48%;
    border-radius: 50%;
    padding: 20px;
    border: 5px dotted skyblue;
}
.left{
    margin-left: 5%;
    width: 30%;
}
.right{
    margin-left: 25%;
    margin-right: 5%;
    width: 30%;
}
.margin{
    margin-bottom: 100px;
    display: flex;
}
.footer{
    background-color: grey;
    color: black;
    width: 100%;
    border-top: 3px solid skyblue;
    border-bottom:3px solid skyblue;
   
}
footer p{
    text-align: center;
}

